<!-- <header>
  <h1>F1 Race Simulator</h1>
</header> -->

<main>
  <router-outlet></router-outlet>
</main>

@if (showFooter()) {
  <div class="app-footer-separator"></div>

  <footer class="app-footer">
    <div class="footer-wrapper">
      <!-- Primary micro footer -->
      <div class="footer-text">
        © 2026 Personal Formula&nbsp;1 Project · Non-commercial ·

        <a
          href="https://forms.gle/HDpikUo1Yv4woQvm7"
          target="_blank"
          rel="noopener noreferrer"
        >
          FEEDBACK
        </a>

        ·

        <a
          href="https://www.formula1.com/en/information/legal-notices.7egvZU48hzrypubGBNcQKt"
          target="_blank"
          rel="noopener noreferrer"
        >
          LEGAL
        </a>

        ·

        <a href="https://fastf1.dev/" target="_blank"> FASTF1 </a>
      </div>

      <!-- Secondary legal disclaimer -->
      <div class="footer-disclaimer">
        This is a personal, non-commercial Formula&nbsp;1 project.
        Formula&nbsp;1®, F1®, FIA Formula One World Championship®, and related
        logos are trademarks of Formula One Licensing B.V. This project is not
        affiliated with, endorsed by, or sponsored by Formula One.

        <br /><br />

        Race timing, telemetry, weather, race control messages, and session data
        are powered by

        <a href="https://fastf1.dev" target="_blank" rel="noopener noreferrer">
          FastF1 </a
        >.
      </div>
    </div>
  </footer>
}
